<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie App</title>
    <style>
        :root {
            --primary-color: #315cb3;
            --hover-color: #315cb3;
            --background-color: #f4f4f9;
            --text-color: #333;
            --placeholder-color: #999;
            --form-bg-color: #fff;
            --form-width: 300px;
            --box-shadow: rgba(0, 0, 0, 0.1);
        }

        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: var(--background-color);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
        }

        h1 {
            color: var(--text-color);
            font-size: 2.5em;
            margin-bottom: 20px;
            text-align: center;
        }

        form {
            background-color: var(--form-bg-color);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px var(--box-shadow);
            width: var(--form-width);
            display: flex;
            flex-direction: column;
            gap: 15px;
            transition: transform 0.2s ease;
        }

        form:hover {
            transform: translateY(-5px);
        }

        input[type="file"],
        input[type="text"],
        input[type="number"],
        input[type="submit"] {
            padding: 10px;
            font-size: 1em;
            border-radius: 5px;
            border: 1px solid #ccc;
            width: 100%;
            box-sizing: border-box;
        }

        input[type="file"] {
            font-size: 0.9em;
        }

        input[type="submit"] {
            background-color: var(--primary-color);
            color: white;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        input[type="submit"]:hover {
            background-color: var(--hover-color);
        }

        input::placeholder {
            color: var(--placeholder-color);
            font-size: 16px;
        }

        @media (max-width: 768px) {
            form {
                width: 90%;
            }
        }
    </style>
</head>

<body>
    <h1>Movie App</h1>
    <form action="/insert" method="post" enctype="multipart/form-data">
        <input type="file" name="image">
        <input type="text" name="name" placeholder="Enter movie name">
        <input type="text" name="movietype" placeholder="Movie type">
        <input type="number" name="rating" placeholder="Enter rating">
        <input type="submit">
    </form>

</body>

</html>
