<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            color: #333;
        }

        .container {
            background: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 80%;
            max-width: 500px;
        }

        h1 {
            text-align: center;
            color: #32609c;
            margin-bottom: 20px;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        form input[type="text"] {
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
        }

        form input[type="submit"] {
            padding: 12px;
            background-color: #32609c;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s ease;
        }

        form input[type="submit"]:hover {
            background-color: #32609c;
        }
    </style>
</head>
<body>
    <div class="container" >
        <h1>Update Data</h1>
        <form action="/updateData?id=<%= editschema._id %>" method="post" enctype="multipart/form-data">
            <input type="text" name="name" placeholder="Enter name" value="<%= editschema.name %>">
            <input type="text" name="subject" placeholder="Enter subject" value="<%= editschema.subject %>">
            <input type="file" name="image">
            <img src="<%= editschema.image %>" width="30%" alt="">
            <input type="submit" value="Update">
        </form>
        
    </div>
</body>
</html>
